.container-loading {
    width: 150px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 23%;
    animation: jump 1s linear infinite;
}

.container-loading p {
    color: #fff;
    font-weight: 600;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: #ffff;
    border-radius: 100%;
    position: relative;
}

.icon::after {
    content: '';
    position: absolute;
    background: #b57600;
    box-shadow: 0px 0px 5px #cbcbcb;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    border-radius: 100px 100px 0px 100px;
    animation: round 2s linear infinite;
}

.loading-relative {
    background: #013cc6;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.loading-relative span {
    position: absolute;
    top: -15px;
    /* right: -30px; */
    padding: 5px 11px 5px 11px;
    background: #013cc6;
    /* box-shadow: 2px 5px 5px #cbcbcb; */
    border-radius: 50%;
    color: white;
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes jump {
    0%, 20% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}